*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Hind Vadodara', sans-serif;
  --fw-ligh: 400;
  --fw-reg: 500;
  --fw-bold: 800;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --clr-ligh: #f8efd4;
  --clr-orange: #e49f1f;
  --clr-red: #d7385e;
  --clr-dark: #132743;
  --clr-hash: #2d3541;
  --bgglass-clr: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  --bgglass2-clr: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.486)
  );
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bsglass: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa,
    1px 1px 2px #555;
  --border-radius: 1.3rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  text-transform: capitalize;
}

.glass-container {
  height: 150vh;
  width: 100%;
  padding: 2em 0;
  background-image: url(../../../image/bg.jpg);
}

.glass-container .glass-card {
  width: 90%;
  margin: 0 auto;
  text-transform: capitalize;
  background: var(--bgglass-clr);
  backdrop-filter: blur(0.5rem);
  box-shadow: var(--bsglass);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.glass-container .glass-card .left-side {
  background: var(--bgglass2-clr);
  backdrop-filter: blur(0.5rem);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em 2em;
}

.glass-container .glass-card .left-side .left-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-grow: 1;
}

.glass-container .glass-card .left-side .left-header .profile-image {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  opacity: 0.8;
}

.glass-container .glass-card .left-side .left-header .left-title {
  font-size: 1rem;
  margin-top: 1em;
}

.glass-container .glass-card .left-side .left-header .left-subtitle {
  font-size: 0.75rem;
  font-weight: var(--fw-ligh);
}

.glass-container .glass-card .left-side .left-body {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  flex-grow: 1;
}

.glass-container .glass-card .left-side .left-body .left-body-icon .left-body--hide {
  display: none;
}

.glass-container .glass-card .right-side {
  padding: 2em;
}

.glass-container .glass-card .right-side .right-side-header .right-side-header__title {
  color: var(--clr-orange);
}

.glass-container .glass-card .right-side .right-side-header .search .search-tag-wrapper {
  margin-top: 1em;
}

.glass-container .glass-card .right-side .right-side-header .search .search-tag-wrapper input {
  border-radius: 10px;
  outline: none;
  border: none;
  vertical-align: middle;
  /* or whatever else value */
  box-sizing: border-box;
  height: 30px;
  font-size: 1rem;
  padding: 0.55em 1em;
  color: var(--clr-hash);
  background: var(--bgglass-clr);
  backdrop-filter: blur(0.8rem);
  box-shadow: var(--bs);
}

.glass-container .glass-card .right-side .right-side-body .right-side__card {
  margin-top: 1em;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background: var(--clr-ligh);
  padding: 0.55em 3em;
  box-shadow: var(--bs);
  gap: 2em;
  border-radius: var(--border-radius);
  background: var(--bgglass-clr);
  backdrop-filter: blur(0.5rem);
  cursor: pointer;
}

.glass-container .glass-card .right-side .right-side-body .right-side__card .right-card__image {
  background-color: var(--clr-dark);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: var(--bs);
  border: 0.25em solid var(--clr-ligh);
}

.glass-container .glass-card .right-side .right-side-body .right-side__card .right-side-middle .right-side-right__title {
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

.glass-container .glass-card .right-side .right-side-body .right-side__card .right-side-middle .right-side-right__subtitle {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  margin-top: 1em;
  color: var(--clr-hash);
}

@media (min-width: 900px) {
  .glass-container {
    height: 100vh;
    width: 100%;
    padding: 2em 0;
    background-image: url(../../../image/bg.jpg);
  }
  .glass-container .glass-card {
    width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }
  .glass-container .glass-card .left-side {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 6em 5em;
  }
  .glass-container .glass-card .left-side .left-body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
  .glass-container .glass-card .left-side .left-body .left-body-icon {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }
  .glass-container .glass-card .left-side .left-body .left-body-icon .left-body--hide {
    display: block;
  }
  .glass-container .glass-card .right-side .right-side-body .right-side__card {
    margin-top: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background: var(--clr-ligh);
    padding: 0.55em 3em;
    box-shadow: var(--bs);
    gap: 2em;
    border-radius: var(--border-radius);
    background: var(--bgglass-clr);
    backdrop-filter: blur(0.5rem);
    cursor: pointer;
  }
  .glass-container .glass-card .right-side .right-side-body .right-side__card .right-card__image {
    background-color: var(--clr-dark);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: var(--bs);
  }
  .glass-container .glass-card .right-side .right-side-body .right-side__card .right-side-middle .right-side-right__title {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
  }
  .glass-container .glass-card .right-side .right-side-body .right-side__card .right-side-middle .right-side-right__subtitle {
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    margin-top: 1em;
    color: var(--clr-hash);
  }
}
